<h3>Sound Test</h3>

<label for="typeInput">Type</label>
<select id="typeInput" @bind="type">
    <option selected value="sine">sine</option>
</select>

<label for="frequencyInput">Frequency</label>
<input id="frequencyInput" type="number" min="0" max="500" @bind="frequency" />

<label for="stopTimeInput">Stop Time</label>
<input id="stopTimeInput" type="number" min="1" max="5" @bind="stopTime" />

<button @onclick="GenerateSound">Generate Sound</button>

@code {
    string type = "sine";
    int frequency = 440;
    int stopTime = 1;

    private async Task GenerateSound()
    {
        await JsInterop.GenerateSound(type, frequency, stopTime);
    }
}
